.product-price-container{
    display: flex;
}

.product-price-container span {
    font-size: 18px;
    color: #b9b8b8;
    margin-top: 4px;
}

.product-price-container h3 {
    font-size: 32px;
    color: #4078ff;
    margin-left: 10px;
}