.product-filter-container {
    margin-bottom: 20px;
    padding: 15px;
}

.product-filter-name-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.product-filter-name-container input {
    border: none;
    background: none;
}

.product-filter-name-container input:focus {
    box-shadow: none;
}

.product-filter-name-container input::placeholder {
    color: #9e9e9e
}

@media (min-width: 768px) {
    .product-crud-bar-container {
        display: flex;
        margin-bottom: 40px;
    }
}